.relati-board {
  display: grid;
}

.relati-board\.grid,
.relati-board\.layer {
  -moz-user-select: none;
  -webkit-user-select: none;
}

.relati-board\.grid {
  cursor: pointer;
  position: relative;
  overflow: visible;
}
